@import "tailwindcss";



/*
  Variables
*/

:root {
  --h-header: 80px;
  --h-download: 86px;
}



/*
  Theme
*/

@theme {
  --color-blue: var(--color-sky-600);
  --color-gray: var(--color-slate-600);
}



/*
    Base
*/

@layer base {

  body {
    @apply bg-slate-50;
  }

  svg {
    @apply h-6 w-6;
  }

  button:not(:disabled) {
    @apply cursor-pointer;
  }

}



/*
    Components
*/

@layer components {

  .wrapper {
    @apply max-w-3xl mx-auto px-4;
  }

  .tile {
    @apply block bg-white p-4 mb-4 rounded-sm last:mb-0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  }

  .overlay {
    @apply fixed left-0 w-full bg-white;
    box-shadow: 0 0 12px rgba(0,0,0,.2);
  }
  .overlay .wrapper {
    @apply h-full;
  }

  .button {
    @apply flex h-12 w-12 text-blue rounded-[50%]
  }
  .button .icon {
    @apply m-auto;
  }
  .button._primary {
    @apply text-white bg-blue;
  }

}


