@import "tailwindcss";



/*
  Variables
*/

:root {
  --h-header: 80px;
  --h-download: 86px;
}



/*
  Theme
*/

@theme {
  --color-blue: var(--color-sky-600);
  --color-gray: var(--color-slate-600);
}



/*
    Base
*/

@layer base {

  body {
    @apply bg-slate-50;
  }

  svg {
    @apply h-6 w-6;
  }

  button:not(:disabled) {
    @apply cursor-pointer;
  }

}



/*
    Components
*/

@layer components {

  .wrapper {
    @apply max-w-3xl mx-auto px-4;
  }

  .line {
    @apply h-px bg-slate-300 my-8;
  }

  .tile {
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    @apply block bg-white p-4 mb-4 rounded-sm last:mb-0;
  }

  .overlay {
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    @apply fixed left-0 w-full bg-white;
  }
  .overlay .wrapper {
    @apply h-full;
  }

}


