@import "tailwindcss";



/*
  Variables
*/

:root {
  --h-header: 80px;
  --h-download: 86px;
}



/*
  Theme
*/

@theme {

  --color-blue-50: #eef9ff;
  --color-blue-100: #d8f1ff;
  --color-blue-200: #bae7ff;
  --color-blue-300: #8bdaff;
  --color-blue-400: #54c4ff;
  --color-blue-500: #2da6ff;
  --color-blue-600: #1687fa;
  --color-blue-700: #0f70e8;
  --color-blue-800: #1359ba;
  --color-blue-900: #164d92;
  --color-blue-950: #123059;

  --color-blue: var(--color-blue-600);
  --color-gray: var(--color-slate-600);
  
}



/*
    Base
*/

@layer base {

  body {
    @apply bg-slate-50 font-light;
  }

  svg {
    @apply h-6 w-6;
  }

  button:not(:disabled) {
    @apply cursor-pointer;
  }

}



/*
    Components
*/

@layer components {

  .wrapper {
    @apply max-w-3xl mx-auto px-4;
  }

  .line {
    @apply h-px bg-slate-200 my-8;
  }

  .tile {
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    @apply block bg-white p-4 mb-4 rounded-sm last:mb-0;
  }


  /* overlay */

  .overlay {
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    @apply fixed left-0 w-full bg-white;
  }
  .overlay .wrapper {
    @apply h-full;
  }


  /* html string */

  .html p {
    @apply my-2;
  }
  .html a {
    @apply text-blue hover:underline;
  }
  .html ol {
    @apply list-decimal ml-6 my-2;
  }
  .html > *:first-child {
    @apply mt-0;
  }
  .html > *:last-child {
    @apply mb-0;
  }


}


